body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(247, 161, 247);
}


#landingImg {
    width: 100%;
    height: 100%;

}

.forecast {
    text-align: center;
    position: fixed;
    top: 90px;
    /* background-color: red; */
    width: 100%;
}

.location {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.temp {
    font-size: 7rem;
    color: aliceblue;
    position: relative;
    left: 30px;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.weather {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: grey;
    font-weight: bold;
}

.cloud{
    color: aliceblue;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


.buttom {
    height: 370px;
    width: 100%;
    background-color: red;
    position: fixed;
    bottom: 0px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;


    background: rgba(91, 29, 141, 0.877);
    border-top: 20px;
    box-shadow: 0 4px 30px rgba(250, 12, 190, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.356);

}

.topOfTheButtons {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    height: 40px;
    /* background-color: bisque; */
}

.topOfTheButtons p {
    position: relative;
    top: 10px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}


.allBtn {
    display: flex;
    /* justify-content: safe; */
    /* background-color: aqua; */
    gap: 20px;

    margin-top: 30px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
}


.allBtn button {
    width: 70px;
    height: 160px;
    border-radius: 50px;
    border: 0px;
    filter: drop-shadow(5px 3px 3px #0f0f1179);
    background-color: #411d8d83;
    border: 1px solid rgba(255, 255, 255, 0.151);
}

.allBtn button p {
    color: white;
    font-size: 14px;
}

#btnOne {
    margin-left: 20px;
}

#btnTwenteeFour {
    margin-right: 20px;
}



/* #btnOne{
    width: 70px;
    height: 160px;
    border-radius: 50px;
    border: 0px;
    filter: drop-shadow(5px 5px 2px #0f0f1169);
    background-color: #411d8d83;


}
#btnTwo{    width: 70px;
    height: 160px;
    border-radius: 50px;
    border: 0px;
    filter: drop-shadow(5px 5px 2px #0f0f1169);
    background-color: #411d8d83;


}
#btnThree{    width: 70px;
    height: 160px;
    border-radius: 50px;
    border: 0px;
    filter: drop-shadow(5px 5px 2px #0f0f1169);
    background-color: #411d8d83;


}
#btnFour{    width: 67px;
    height: 160px;
    border-radius: 50px;
    border: 0px;
    backdrop-filter: sepia(100%);
    filter: drop-shadow(5px 5px 2px #0f0f1169);
    background-color: #411d8d83;

}
#btnFive{    width: 67px;
    height: 160px;
    border-radius: 50px;
    border:0;
    filter: drop-shadow(5px 5px 2px #0f0f1169);
    background-color: #411d8d83;


} */

.searchLocation {
    /* position: fixed;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%; */

    width: 100%;
    /* background-color: aliceblue; */
    height: auto;
    position: fixed;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}


#magnifyne {
    color: aliceblue;
    font-size: 72px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ; */
    
}

/*SECOND PAGE INFO STYLE*/
/*SECOND PAGE INFO STYLE*/
/*SECOND PAGE INFO STYLE*/



.anotherPageButtom{
    height: 90%;
    /* width: 100%; */
    position:absolute;
    /* z-index: 1; */
    bottom:0px ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;


    /* background: rgba(91, 29, 141, 0.877); */
    /* background: #020024; */
background: linear-gradient(180deg,rgba(2, 0, 36, 1) 0%, rgb(93, 22, 135) 0%, rgba(3, 0, 0, 1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.356);

    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 0px;
}


#gripline{
    color: rgba(240, 248, 255, 0.911);
    font-size: 60px;
    text-align: center;
    width: 100%;
    position: sticky;
    top:0%;
}

.humidity{
    /* From https://css.glass */
background: rgba(156, 62, 233, 0.192);
    height:160px;
    width: 160px;
    border-radius: 20px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
.windSpeed{
background: rgba(156, 62, 233, 0.192);
    height:160px;
    width: 160px;
    border-radius: 20px;
    display: flex;
    float: right;
    margin-right:30px;
    margin-top: 30px;
   
}
#wind_p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -9px;
    left: 9px;
}
#wind{
    color: gray;
    margin-right:5px;
    font-size: 13px;
}
.uvIndex{
background: rgba(156, 62, 233, 0.192);
    height:160px;
    width: 160px;
    border-radius: 20px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
#uvSun_p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -9px;
    left: 9px;
}
#uvSun{
    color: gray;
    margin-right:5px;
    font-size: 13px;
}

.sunset{
 
background: rgba(156, 62, 233, 0.192);
    height:160px;
    width: 160px;
    border-radius: 20px;
    float: right;
    margin-right:30px;
    margin-top: 30px;
    
}
.rainfall{
background: rgba(156, 62, 233, 0.192);
    height:160px;
    width: 160px;
    border-radius: 20px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;  
}
#rainfall_p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -9px;
    left: 9px;
}
#rainfall{
    color: gray;
    margin-right:5px;
    font-size: 13px;
}
.feelsLike{
background: rgba(156, 62, 233, 0.192);
    height:160px;
    width: 160px;
    border-radius: 20px;
    float: right;
    margin-right:30px;
    margin-top:30px;
}
#feelslike_p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -9px;
    left: 9px;
}
#feelslike{
    color: gray;
    margin-right:5px;
    font-size: 13px;
}
.visibility{
background: rgba(156, 62, 233, 0.192);
    height:160px;
    width: 160px;
    border-radius: 20px;
    float: left;
    margin-left:30px;
    margin-top:30px;       
}
#visibility_p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -9px;
    left: 9px;
}
#visibility{
        color: gray;
    margin-right:5px;
    font-size: 13px;
}
.pressure{
background: rgba(156, 62, 233, 0.192);
    height:160px;
    width: 160px;
    border-radius: 20px;
    float: right;
    margin-right:30px;
    margin-top:30px;
     
}
